# Configuration file
# Generated on 7/09/12 10:13 PM

####################
# block 
####################

block {
   ComputerSensorBlock.id=215
}

####################
# general 
####################

general {
   advancedUI=true
   autoAssign=true
   maxPrivateChannels=2
   maxPublicChannels=2
   maxSensorRange=10
   reflect=false
}

####################
# item 
####################

item {
   ComputerChip.id=1238
   ComputerSensorCard.id=1236
   ComputerTransmitterCard.id=1237
}

####################
# sensors 
####################

sensors {
   card.SensorModule.APS=8
   card.SensorModule.BC=3
   card.SensorModule.EE=7
   card.SensorModule.Forestry=5
   card.SensorModule.IC2=4
   card.SensorModule.INV=2
   card.SensorModule.Proximity=10
   card.SensorModule.RP2=6
   card.SensorModule.Thaumcraft=9
   card.WorldSensor=1
}

